
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  button {
    margin-right: 10px;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #53ba73;
    background-position: 20px center;
    border: 2px solid #53ba73;
  }
  
  .addSocio {
    padding: 10px 10px;
    background-color: #f6f6f6;
  }
  