.content {
  max-width: 500px;
  justify-content: center;
}
.--btn-envio {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    display: block;
    border: 1px solid #fff;
    border-radius: 30px;
    height: 50px;
    color: #fff;
  }
  
  .--btn-envio:hover {
    background-color: #008da1;
  }
  .--btn-cancel {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    display: block;
    border: 1px solid #fff;
    border-radius: 30px;
    height: 50px;
    color: #fff;
  }
  .--btn-cancel:hover {
    background-color: red;
  }
